<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" [formGroup]="recipeForm" >
       <!--row1-->
        <div class="row">
          <div class="col-xs-12">
             <button [disabled]="!recipeForm.valid" type="submit" class="btn btn-success">Save</button>
             <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
          </div>
        </div>
        <hr>
       <!--row2-->
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Name </label>
              <input
               type="text"
               id="name"
               class="form-control"
               formControlName="name"
              >
            </div>
          </div>
        </div>
   <!--row3-->
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="imagePath">Image Url </label>
              <input
               type="text"
               id="imagePath"
               class="form-control"
               formControlName="imagePath"
               #imagePath
              >
            </div>
          </div>
        </div>
   <!--row4-->
        <div class="row">
          <div class="col-xs-12">
           <img [src]="imagePath.value" class="img-responsive">
          </div>
        </div>
 <!--row5-->
        <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="description">Description </label>
                <textarea
                type="text"
                 id="description"
                 class="form-control"
                 formControlName="description"
                 rows="6"
                ></textarea>
              </div>
            </div>
          </div>
 <!--row6-->
  <div class="row">

    <div class="col-xs-12" formArrayName="ingredients">
       
      <div class="row" [formGroupName]="i"  *ngFor="let ingredientCtrl of getIngredientsCtrl(); let i=index"  >
       
        <div class="col-xs-6">
           <input
           type="text"
           class="form-control"
           placeholder="ingredient"
           formControlName="name"
           >
        </div>
        <div class="col-xs-2">
          <input
          placeholder="amount"
          type="number"
          class="form-control"
          formControlName="amount"
          >
        </div>
        <div class="col-xs-2">
          <button type="button" (click)="onDeleteIngredient(i)" class="btn btn-danger">
            X 
          </button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <button type="button" (click)="onAddIngredient()" class="btn btn-primary">Add ingredient</button>
        </div>
      </div>
    </div>
  </div>

    </form>
  </div>
</div>
