<div class="row">
  <div class="col-xs-12">
    <img [src]="(recipeState | async).recipes[id].imagePath" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{(recipeState | async).recipes[id].name | capitalize}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div 
    class="btn-group"
    appDropdown
    >
      <button 
       class="btn btn-primary dropdown-toggle"
       >Manage Recipe <span class="caret"></span> 
      </button>
      <ul class="dropdown-menu">
        <li ><a  (click)="onAddToShoppingList()" >To Shopping List</a></li>
        <li><a [routerLink]="['edit']" >Edit Recipe</a></li>
        <li><a (click)="onDelete()" >Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{(recipeState | async).recipes[id].description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
     <div class="list-group">
        <li class="list-group-item"
        *ngFor="let ingredient of (recipeState | async).recipes[id].ingredients"
        >
        {{ingredient.name}}- {{ingredient.amount}}

        </li>
     </div>
  </div>
</div>