<div class="row">
    <div class="col-md-5">
       <app-recipe-list ></app-recipe-list>
    </div>
    <div class="col-md-7">
        <router-outlet></router-outlet>
     <!--
app-recipe-detail
     *ngIf="recipeSelected else noRecipeSelected" 
     [recipeDetail]="recipeSelected"
     ></app-recipe-detail>
     <ng-template #noRecipeSelected>
         <p>Please select a recipe</p>
     </ng-template>
     -->
    </div>
</div>