<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    
       <form #f="ngForm" (ngSubmit)="onSignUp(f)" >
          <div class="form-group">
              <label for="email">Email</label>
               <input
               type="text"
               class="form-control"
               id="email"
               name="email"
               ngModel 
               required
               email
               #email="ngModel"
               >
               <span *ngIf="!email.valid && email.touched" class="help-block">Email is required Field</span>
          </div>

          <div class="form-group">
              <label for="password">Password</label>
               <input
               type="password"
               class="form-control"
               id="password"
               name="password"
               ngModel
               required
               minlength="6"
               #password="ngModel"
               >

               <span *ngIf="!password.valid && password.touched" class="help-block">Password not valid</span>

          </div>
          <button [disabled]="!f.valid" type="submit" class="btn btn-primary">Sign Up</button>
         
       </form>
    </div>
</div>