<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a  routerLink = '/' class="navbar-brand">Recipe Book</a>
        </div>
        <div class="collapse navbar-collapse">
           <ul class="nav navbar-nav">
               <li 
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact:true}"
               >
               <a routerLink='/recipes'>Recipes</a>
            </li>

               <li routerLinkActive="active"
               [routerLinkActiveOptions]="{exact:true}"
               ><a routerLink='/shopping-list' >Shopping List</a></li>
           </ul>
           
           <ul class="nav navbar-nav navbar-right">
               <ng-template [ngIf]="!(authState | async).authenticated" >
                    <li><a  routerLink="/signin">Login</a></li>
                    <li><a  routerLink="/signup">Register</a></li>
               </ng-template>
               <ng-template [ngIf]="(authState | async).authenticated">
                     <li><a style="cursor:pointer" (click)="onLogout()" >Logout</a></li>
                     <li class="dropdown" appDropdown  >
                            <a  class="dropdown-toggle" role="button">Manage <span *ngIf="success">(saved)</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a (click)="onSave()" >Save Data</a></li>
                                <li><a  (click)="onFetchData()" > Fetch Data</a></li>
                            </ul>
                        </li>
               </ng-template>
             
           </ul>
        </div>
    </div>
</nav>