.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background-color: white;
    filter: alpha(opacity=75);
    z-index: 9999;
    color: black;
    text-align: center;

   
}
.loading p {
    color: blue;
    font-weight: bold;
    font-size: 100%;    
}
