<div class="row">
  <div class="col-xs-12">
    <button (click)=" onAddRecipe()" class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <label for="search"> Search : </label>
    <input
    class="form-control"
    id="search"
     type="text"
     [(ngModel)]="searchValue"
     >
     
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-xs-12">
      <div [ngStyle]="{'display': asyncRequest ? 'block' : 'none' }"  class="loading">Loading...</div>
      <!-- | customFilter:searchValue: 'name'  | customSort:'name'  -->
      <app-recipe-item   
            *ngFor="let recipeEl of (recipesState | async).recipes ; let i=index " 
            [recipe]="recipeEl"
            [index]="i"
            >
      </app-recipe-item>
  </div>
</div>
